$color-light: #daad8b;
$color-dark: #414249;
$color-gray: #a5aab1;
$color-brown: #957164;
$color-green: #565e50;
$color-white: #fff;

$box-border-radius: 1.6rem;
$btn-border-radius: 0.8rem;

$content-gap: 1rem;
